a,
a:visited,
a:hover {
    color: #fff !important;
}

.header {
    background-color: #1F386E;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
    height: 70px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    background-color: #1F386E;
    padding-right: 2em;
}

.header li{
    display: block;
    font-size: 16px;
    text-decoration: none;
    margin:  5px;
}

.header li a:hover,
.header .menu-btn:hover {
    color: #000;
}

.header .logo {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 70px;
    text-decoration: none;
    padding-left: 2em;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

p{
    font-size: 16px;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    
    .header li {
        float: left;
    }

    .header li{
        margin: 21px 18px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

.footer{
    width: 100%;
    height: 40px;
    text-align: right;
    color: #fff;
    background-color: #1F386E;
    line-height: 40px;
    padding-right: 50px;
}

.content{
    min-height: 83vh !important;
}

.page{
    padding: 3em;
}

.heading{
    position: relative;
    color: #1F386E;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px 0;
}

.thumbnail{
    width: 100%;
    height: 10%
}

.list-content{
    padding: 1em;
}

.list{
    padding: 2em 0;
    border-bottom: 1px solid #1F386E
}

.list-btn{
    background: #1F386E;
    padding: 0.5em;
    border-radius: 0.2em;
}

.card-item, .contact-form{
    padding: 1em;
}

.card-title{
    text-align: center;
    padding: 1em;
    font-weight: bold;
}

.slider{
    position: relative;
    width: 100%;
}

.slider img{
    width: 100%;
    height: 500px;
}


.service-home{
    padding: 2em;
    background-color:#DCE4EF;
}


